<%- include("partials/header") %>
<div class="container">
    <div class="jumbotron text-center" style="margin: 30px 0;">
        <h1 class="text-center">VIEW MOVIES ALONG WITH RATINGS</h1>
        <a class="btn btn-primary" href="/movies/new">Add movies</a>
    </div>
    <div class="row my-3">
        <% movies.forEach(function(movie){ %>
            <div class="col-lg-4">
                <div class="ui card fluid">
                    <div class="ui rounded image">
                        <img src="<%= movie.image %>">
                    </div>
                    <div class="content">
                        <a class="header"><%= movie.name.toUpperCase() %></a>
                    </div>
                    <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-primary btn-block">Delete It</button>
                    </form>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<%- include("partials/footer") %>