<%- include("partials/header") %>

<div class="container my-5">
    <div class="card">
        <h3><%= user.name %></h3>
        <ol>
            <% ratings.forEach((rating)=>{ %>
                <li><%= rating.movie %> - <%= rating.rating %></li>
            <% }); %>
        </ol>
    </div>
</div>

<%- include("partials/footer") %>