<%- include("../partials/header") %>
<div class="container my-5">
    <div class="d-flex align-items-start justify-content-between">
        <div>
            <h1 class="display-4"><%= actor.name %></h1>
            <div style="text-align: justify;" class="lead mr-5"><%= actor.bio %></div><hr>
            <h1>Movies:</h1> 
            <% actor.movies.forEach((actorMovie)=>{ %>
                <% movies.forEach((movie)=>{ %>
                    <% if(actorMovie === movie.name){ %>
                        <li><a href="/movies/<%= movie._id %>"><%= actorMovie %></a></li>
                    <% } %>
                <% }); %> 
            <% }); %>
        </div>
        <div>
            <img src="<%= actor.image %>" style="width: 300px; height: 100%;">
            <h4>Born: <%= actor.dob.toDateString() %> </h4>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>