<%- include("../partials/header") %>

<div class="container">
    <form action="/movies/<%= movie._id %>?_method=PUT" method="POST" class="my-5 px-5">
        <div class="form-group">
            <label for="name">Movie Name:</label>
            <input id="name" type="text" name="name" class="form-control" value="<%= movie.name %>">
        </div>
        <div class="form-group">
            <label for="poster">Movie Poster:</label>
            <input id="poster" type="text" name="poster" class="form-control" value="<%= movie.poster %>">
        </div>
        <div class="form-group">
            <label for="image">Movie Image:</label>
            <input id="image" type="text" name="image" class="form-control" value="<%= movie.image %>">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="release">Release Date:</label>
                <input id="release" type="date" name="release" class="form-control" value="<%= new Date(movie.release).toISOString().slice(0,10) %>">
            </div>
            <div class="form-group col-md-6">
                <label for="genre">Movie Genres:</label>
                <input id="genre" type="text" name="genres" class="form-control" value="<%= movie.genres %>">
            </div>
        </div>
        <div class="form-group">
            <label> 
                Movie Plot: <br> <textarea class="mt-2 text-justify" name="plot" placeholder="Movie Plot" cols="138" rows="4"><%= movie.plot %></textarea>
            </label>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Box Office Budget In Million[$]:</label>
                <input id="boxoffice1" type="text" name="budget" class="form-control" value="<%= movie.boxoffice.budget %>">
            </div>
            <div class="form-group col-md-6">
                <label for="boxoffice2">Box Office Collection In Million[$]:</label>
                <input id="boxoffice2" type="text" name="profit" class="form-control" value="<%= movie.boxoffice.profit %>">
            </div>
        </div>
        <div class="form-group">
            <label for="primeLink">Amazon Prime Video Link:</label>
            <input id="primeLink" type="text" name="link[prime]" class="form-control" value="<%= movie.primeLink %>">
        </div>
        <div class="form-group">
            <label for="netflixLink">Netflix Link:</label>
            <input id="netflixLink" type="text" name="link[netflix]" class="form-control" value="<%= movie.netflixLink %>">
        </div>
        <div class="form-group">
            <label for="hotstarLink">Hotstar Link:</label>
            <input id="hotstarLink" type="text" name="link[hotstar]" class="form-control" value="<%= movie.hotstarLink %>">
        </div>
        <div class="form-group">
            <label for="youtubeLink">Youtube Link:</label>
            <input id="youtubeLink" type="text" name="link[youtube]" class="form-control" value="<%= movie.youtubeLink %>">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>

<%- include("../partials/footer") %>