<%- include("../partials/header") %>

<div class="container my-5">
    <div class="row">
        <div class="col col-md-3">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="/movies/<%= movie._id %>">ABOUT</a>
                <a class="list-group-item list-group-item-action active" href="/movies/<%= movie._id %>/reviews">REVIEWS</a>
                <a class="list-group-item list-group-item-action" href="#">FULL-PLOT</a>
                <a class="list-group-item list-group-item-action" href="/movies/<%= movie._id %>/cast">CAST</a>
                <a class="list-group-item list-group-item-action" href="#">BOX OFFICE</a>
                <a class="list-group-item list-group-item-action" href="/movies/<%= movie._id %>/stream">WHERE TO WATCH</a>
                <a class="list-group-item list-group-item-action" href="/movies/<%= movie._id %>/more">MORE LIKE THIS</a>
            </div>
        </div>
        <div class="col col-md-9">
            <h3><%= movie.name.toUpperCase() %> - Rating: <%= movie.ratingValue %> [<%= movie.ratingCount %>]</h3>
            <% if(isRated == false){ %>
                <a class="btn btn-md mt-2 btn-warning" href='/movies/<%= movie._id %>/reviews/edit'>Edit Review</a>
                <a class="btn btn-md mt-2 btn-danger" href='/movies/<%= movie._id %>/reviews/option'>Delete Review</a>
            <% } else { %>
                <a class="btn btn-md mt-2" id="newReview" href="/movies/<%= movie._id %>/reviews/new">Add Review</a>
            <% } %>
            <div class="pt-2">
                <% movie.ratings.forEach((rated)=>{ %>
                    <% if(rated.content != ''){ %>
                        <div class="card my-2">
                            <div class="card-header p-2 bg-dark text-light" id="cardHead">
                                <div class="d-flex justify-content-between align-items-start">
                                    <h5 class="card-title"><a class="text-light"><%= rated.ratedBy.username %></a></h5>
                                    <h5 class="card-title"><%= rated.rating %></h5>
                                </div>
                            </div>
                            <div class="card-body p-3 bg-light">
                                <p class="card-text"><%= rated.content %></p>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>